*{
    padding-top: 40px;
    margin: 0;
    font-size: 40px;
}
.box-one{
    background-color:blue;
    padding: 30px;
    border: 40px solid yellow;
    border-width: 30px;
    margin: 20px;
    width:200px;
    height:200px;
}
.box-two{
    background-color:green;
    padding: 30px;
    border: 40px solid purple;
    border-width: 20px;
    margin: 70px;
    margin-top 20px;
    height:25%;
    width:25%;
}